.cta-container{
    overflow: hidden;
}
.cta-video-bg{
    position: absolute;
    margin: 0;
    opacity: 0.5;
    width: 100%;
    object-fit:cover;
    height: 94vh;
    z-index: -1;
}
.cta{
    background-color: transparent;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        margin-top: 0;
        color: white;
        font-size: 60px;
        padding: 1rem;
      }
}
// MEDIA QUERIES
@media screen and (max-width: 650px){
   .cta{
       h1{
           font-size: 15vw;
       }
   }
        
}
